<!DOCTYPE html>
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="style.css">
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Template</title>
</head>
<body>
    

    <div class="navbar">
        <a href="#home">INTERVIEW  IQ</a>
        <a href="#news">INTERVIEW PLATFORM</a>
        <div class="dropdown">
          <button class="dropbtn">HIRING RESOURCE & NEWS
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">ABOUT US
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <button>REQUEST A DEMO</button>
        <i class="fas fa-search" id="search"></i>
      </div>
<div class="header">
    <h1>HOW MUCH IS THE POWERFUL INTERVIEW PLATFORM</h1>
</div>

<!-- <table class="table">
    <td class="th1" style="background-color: darkgrey; width: 10rem; height: 50vh;  ">1</td>
    <td class="th2" style="background-color: rgb(52, 77, 185); width: 10rem; height: 50vh; ">2</td>
    <td class="th3" style="background-color: darkgrey; width: 10rem; height: 50vh; ">3</td>
</table> -->
<div class="cards-menu">

    <div class="card1">
        <h1>SINGLE USER</h1>
        <h3>FREE</h3>
        
        <i class="fa fa-check" aria-hidden="true">Unlimited candidate interviews for one job opening</i> 
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">Interview for as many roles as you need, <b>one job at a time</b></i>
    </br>
    </br>
        <br class="fa fa-check" aria-hidden="true">Access our full <b>Question Bank</b> </br> Create one interview Smart-</i>
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">Unlimited candidate interviews for one job opening</i>
    </br>
    </br>
    <p>Interviewer's holistic interview platform offers a FREE single-user option focused on helping Interviewers like you find the right candidtates.</p>
    <button>Learn More</button>
    </div>


    <div class="card2">
        <div style="width: 300px; height: 8vh; background-color: deepskyblue;"><p style="text-align: center; color: #fff;">RECOMENDED</p></div>
        <h1>TEAM</h1>
        <h3>$45 per month/admin user*</h3>
        <i class="fa fa-check" aria-hidden="true">Unlimited candidate interview for your team's job opening</i>
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">interview for as many roles as you need, <b>AT THE SAME TIME</b> </i>
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">Buil a hiring Team of <b>Unlimited interviews</b> </i>
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">Access our full <b>Question Bank</b> </i>
    </br>
    </br>
    <p>Create Interview Smart-</p>
        <i class="fa fa-check" aria-hidden="true"> <b>Scorecards</b> for every interview Round per job opening</i>
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">Unlimited candidate interview for your team's job opening</i>
    </br>
    </br>
        <i class="fa fa-check" aria-hidden="true">Unlimited candidate interview for your team's job opening</i>
    </br>
   </br>
        <p>Interview Performance</p>
        <i class="fa fa-check" aria-hidden="true">Management and Enhancement</i>    
</br>
</br>
<p>The Team subscription puts the power in your hands to design a better,more equitable interview process for your team's open roles. <b>Do not shy,click to buy today with a credit card.</b> </p>
</br>
</br>
<p>*Billed annually</p>
<button>Learn More</button>

    </div>

    <div class="card3">
        <h1>ENTERPRISE</h1>
        <h3>Contact us for details</h3>
        <i class="fa fa-check" aria-hidden="true"> <b>Unlimited</b>candidate interviews </i>
</br>
</br>
<i class="fa fa-check" aria-hidden="true"> <b>Unlimited</b>job openings</i>
</br>
</br>
<i class="fa fa-check" aria-hidden="true"> <b>Unlimited</b>interviews compony wide </i>
</br>
</br>
<p><b>Unlimited</b> interview Smart-</p>
<i class="fa fa-check" aria-hidden="true">Scorecards and interview Rounds for every job opening company-wide</i>
</br>
</br>
<p>Access our full <b>Question Bank</b></p>
<i class="fa fa-check" aria-hidden="true">add your own ques--place </i>
</br>
</br>
<p>Interview performance</p>
<i class="fa fa-check" aria-hidden="true"> Management and Enhancement </i>
</br>
</br>
<i class="fa fa-check" aria-hidden="true"> <b>Facilated Interview Training</b>and access to our <b>Training Library</b> </i>
</br>
</br>
<p><b>Premium Features</b>including company wide reporting</p>
<i class="fa fa-check" aria-hidden="true"> Oversight and insight into all hiring process </i>
</br>
</br>
<p>The Enterprises subscription amplifies the power of interview for your entire department or organization.<b>Do not be shy,click to buy.</b></p>
<button>Learn More</button>
</br>
</br>
 </div>
</div>

<div class="main">
    <button></button>
    <h1>5 STEPS TO A GREET INTERVIEW</h1> 

    <div class="steps" style="display: flex; justify-content: center; ">
        <p style="padding: 10px;"><a href="#">Step2</a></p> 
        <p style="padding: 10px;">Step2</p>
        <p style="padding: 10px;">Step3</p>
        <p style="padding: 10px;">Step4</p>
        <p style="padding: 10px;">Step5</p>
    </div>
    <hr>

    <div>
        <h3 style="padding: 65px;" >Plan your Interview</h3>

        <div style="float: right;">
           <ol> 
            <h3>Our interview platform gives you the tools to plan a successful interview</h3>
        <li><p>Use the interview Question Bank to find questions directly aligned with your required job qualifications.</p></li>
        <li><p>Build your Smart-Scorecard for every interview round and be confident in your ability to interview and compare every candidate equally.</p></li>
    </ol>
        </div>   
</div>

</div>
<div class="rows" >
    <div class="columns" style="background-color:#fff;">
      <h2 style="margin-bottom: 50px;">INTERVIEW PLATFORM FEATURES</h2>
      <p style="margin-bottom: 50px;">-- Interviewto Role Alignment with Effective Questions and Context</p>

      <p style="margin-bottom: 50px;">-- Accurate Candidate Ranking for Equitable Candidate Evolution </p>
    </div>
    <div class="columns" style="background-color:#fff; ">
        <p style="margin: 65px;">-- Interviewer Training for Better interview Behaviour.</p>
        
        <p style="margin: 65px;">-- Hiring Decision Support for Company-wide Oversign.</p>
    </div>
  </div>



    <div class="main-row" >
        <h2>ARE YOU LOOKING FOR AN INTERVIEW <br> PLATFORM THAT MAKES HIRING EASIER?</h2>
        <p>Experience easier interviewing and better hiring.Fill out the form below</p>
        <button>Request a demo</button>
    </div>


<div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2 style="padding: 10px;">INTERVIEW iQ</h2>
      <p style="padding: 10px;">The power of equitable interviewing in <br>every Interviewer's hands.</br></p>
      <br></br>
      <h5 style="padding: 10px;">720.842.6740</h5>
      <br></br>
      <h5 style="padding: 10px;">info@interviewia.com</h5>
      <br></br>
      <i class="fab fa-twitter" style="padding: 10px;"></i>
      <i class="fab fa-linkedin" style="padding: 10px;"></i>
      <br></br>
      <br></br>
      <h6>All right reserved   |   Privacy Policy   |   Accessbility</h6>
    </div>

    <div class="column" style="background-color:#aaa;">
        <h3 style="padding: 30px;">PLATFORM</h3>
        <p style="padding: 30px;">Platform</p>
    </div>
    <div class="column" style="background-color:#aaa;">
      <h3 style="padding: 30px;">HIRING</h3>
      <p style="padding: 30px;">Blog</p>
      <p style="padding: 30px;">Podcast</p>
    </div>
    <div class="column" style="background-color:#aaa;">
        <h3 style="padding: 30px;">ABOUT</h3>
        <p style="padding: 30px;">About</p>
        <p style="padding: 30px;">Careers</p>
        <p style="padding:30px;">Request a demo</p>
      </div>
    <div class="column" style="background-color:#aaa;">
        <h3 style="padding: 30px;">SUBSCRIBE TO OUR NEWSLETTER</h3>
        <input></input><button>SUBMIT</button>

    </div>
  </div>




</body>
</html>

